<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  <ha-loader></ha-loader>
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <ha-add-event [categories]="categories"></ha-add-event>
    </div>
    <div class="col-md-6">
      <ha-add-category (onCategoryAdd)="newCategoryAdded($event)"></ha-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ha-edit-category
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
      ></ha-edit-category>
    </div>
  </div>
</section>

